<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <!-- Aspect -->
    <bean id="logAspect" class="com.miage.m2.mailspringboot.aspects.LoggerAspect"/>

    <aop:config>
            <!-- @Before -->
            <aop:pointcut id="beforeReadindMailsPC"
                          expression="execution(* com.miage.m2.mailspringboot.mail.MailService.receive()) "/>
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore"
                          expression="execution(* com.miage.m2.mailspringboot.mail.MailService.send (java.lang.String, java.lang.String)) "/>

        <aop:aspect id="aspectLoggging" ref="logAspect">
            <aop:before method="beforeReadMails" pointcut-ref="beforeReadindMailsPC"/>
            <aop:before method="beforeSendMail" pointcut-ref="pointCutBefore"/>
        </aop:aspect>
    </aop:config>
</beans>